---

---

<footer>
    Made with <a href="https://astro.build">Astro</a> — Illustration made with <a
    href="https://stability.ai/blog/stable-diffusion-public-release">Stable Diffusion</a>
</footer>